<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <% if logged_in? %>
<%= current_user.username %>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Sign Out">
</form>


    <% end %>




    <%= yield %>
  </body>
</html>
