<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= current_user.username %>
    <form action=" <%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Sign Out">
    </form>
    <% else %>
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
      <a href=" <%= new_session_url %>"> Sign In </a>
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
      <a href=" <%= new_user_url %> "> Sign Up </a>
    <% end %>

    <%= render 'layouts/errors' %>

    <%= yield %>
  </body>
</html>
