
<% if type == :new %>
<% action = link_url%>
<% button_text = "Create New Link" %>
<% else %>
<% action = link_url(link)%>
<% button_text = "Update Link" %>
<% end %>


<form  action=" <%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 <% if type == :edit %>
  <input type="hidden" name="" value="patch">
 <% end %>

  <label>
    Title
    <input type="text" name="link[title]" value=" <%=  link.title %>">
  </label>


  <label>
    Title
    <input type="text" name="link[url]" value=" <%= link.url %>">
  </label>

  <input type="submit" name="" value=" <%= button_text %>">
</form>
